lsi: false
safe: true
incremental: false
highlighter: rouge
gist:
  noscript: false
kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

theme: jekyll-theme-primer
plugins:
- jekyll-remote-theme # add this line to the plugins list if you already have one

title: About Me
description: Text for bios, blogs and websites